# compiled files
*.so
*.pyc
eggs
build
dist
.project
.pydevproject
*.orig
.noseids

# compiled extensions
bhmm/output_models/impl_c/discrete.c
bhmm/output_models/impl_c/gaussian.c
bhmm/hidden/impl_c/hidden.c

